            .videodiv {
                text-align: center;
                border: solid 1px black;
                padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
            }
            